# Python Basics

Welcome to the Python Basics tutorial! This notebook covers variables and data structures.

## Variables

Variables are used to store values. A variable can be created by assigning a value to it using the `=` operator. For example, let's create a variable named `message` and assign it a value `'Hello, World!'`:

In [20]:
message = "Hello, World!"
print(message)

Hello, World!

Name Convention:

- Variable names can only contain letters, digits and underscores
- Variable names cannot start with a digit
- Variable names are case sensitive (age, Age and AGE are three different variables)
- Variable names cannot be a keyword (like `if`, `else`, `elif`, `for`, `while` etc.)

<br>

## Data Types

1. **int:** *Integer*
   - Represents whole numbers without any decimal points.
   - Example: `42`

<br>   

2. **float:** *Floating-point*
   - Represents numbers with decimal points or in exponential form.
   - Example: `3.14`

<br>

3. **str:** *String*
   - Represents a sequence of characters enclosed in single or double quotes.
   - Example: `"Hello, Python!"`

<br>

4. **bool:** *Boolean*
   - Represents either True or False.
   - Used for logical operations and conditions.
   - Example: `True`

These data types provide flexibility in representing different kinds of information in Python.

## Simple Calculations with Variables
You can perform calculations using variables. Python supports basic arithmetic operations.

Examples:

In [1]:
x = 5
y = 3

In [3]:
# sum_result 
x + y

8

In [4]:
# difference 
x - y

2

In [5]:
# product 
x * y

15

In [7]:
# quotient 
x / y

1.6666666666666667

In [6]:
# exponentiation 
x ** y

125

In [8]:
# remainder 
x % y

2

**Task 1:** Calculate the area of a rectangle with a length of 10 and a width of 4. Store the result in a variable called "area" and show the result.

In [11]:
# your code

<br>

## Type Conversion (Casting)
You can convert one data type to another using type casting.

Examples:

In [17]:
# Convert float to int
x = 3.14
x_as_int = int(x)

print(x_as_int)
print("type: ", type(x_as_int))

3
type:  <class 'int'>

In [18]:
# Convert int to float
y = 5
y_as_float = float(y)

print(y_as_float)
print("type: ", type(y_as_float))

5.0
type:  <class 'float'>

In [19]:
# Convert int to string
num = 42
num_as_str = str(num)

print(num_as_str)
print("type: ", type(num_as_str))

42
type:  <class 'str'>

**Task 2:** Convert the integer 8 to a floating-point number and store it in a variable called floating_num.

In [20]:
# your code

## Working with Strings
You can perform various operations on strings. Let's explore some string methods.

Examples:

In [21]:
text = "Hello, Python!"
print(text)

Hello, Python!

In [22]:
text.upper()

'HELLO, PYTHON!'

In [23]:
text.lower()

'hello, python!'

In [24]:
text.count("o")

2

**Task 3:** Check if the the given text starts with the letter "H":

In [25]:
# your code

## One-Dimensional Lists
A list is a collection of values. You can access elements in a list using their index.

Example:

In [1]:
test_list = [1, 5, 3, 3, 4]

List indexing in Python allows you to access individual elements within a list. The indexing is zero-based, meaning the first element is at index 0, the second at index 1, and so on. Negative indexing is also allowed, where -1 represents the last element, -2 the second-to-last, and so forth

In [2]:
test_list[0]

1

In [3]:
test_list[-1]

4

**Task 4:** Create a list called numbers with five integers (e.g., 1, 2, 3, 4, 5). Calculate the sum of the numbers and store it in a variable called sum_numbers.

In [27]:
# your code

## Multidimensional Lists
In Python, you can have lists within lists to create multidimensional lists, like a matrix.

Example:

In [29]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
element = matrix[1][2]  # Access the element in the second row and third column
print(element)

6

**Task 5:** Create a 2x2 matrix my_matrix and calculate the sum of all elements. Store the result in a variable called matrix_sum.