# Python Basics

Welcome to the Python Basics tutorial! This notebook covers variables and data structures.

## Variables

Variables are used to store values. A variable can be created by assigning a value to it using the `=` operator. For example, let's create a variable named `message` and assign it a value `'Hello, World!'`:

In [66]:
message = "Hello, World!"
print(message)

Hello, World!

Name Convention:

- Variable names can only contain letters, digits and underscores
- Variable names cannot start with a digit
- Variable names are case sensitive (age, Age and AGE are three different variables)
- Variable names cannot be a keyword (like `if`, `else`, `elif`, `for`, `while` etc.)

<br>

## Data Types

1. **int:** *Integer*
   - Represents whole numbers without any decimal points.
   - Example: `42`

<br>   

2. **float:** *Floating-point*
   - Represents numbers with decimal points or in exponential form.
   - Example: `3.14`

<br>

3. **str:** *String*
   - Represents a sequence of characters enclosed in single or double quotes.
   - Example: `"Hello, Python!"`

<br>

4. **bool:** *Boolean*
   - Represents either True or False.
   - Used for logical operations and conditions.
   - Example: `True`

These data types provide flexibility in representing different kinds of information in Python.

## Simple Calculations with Variables
You can perform calculations using variables. Python supports basic arithmetic operations.

Examples:

In [67]:
x = 5
y = 3

In [68]:
# sum_result 
x + y

8

In [69]:
# difference 
x - y

2

In [70]:
# product 
x * y

15

In [71]:
# quotient 
x / y

1.6666666666666667

In [72]:
# exponentiation 
x ** y

125

In [73]:
# remainder 
x % y

2

**Task 1:** Calculate the area of a rectangle with a length of 10 and a width of 4. Store the result in a variable called "area" and show the result.

In [4]:
# your code
length = 10
width = 4

area = length * width

print(area)

40

<br>

## Type Conversion (Casting)
You can convert one data type to another using type casting.

Examples:

In [5]:
# Convert float to int
x = 3.14
x_as_int = int(x)

print(x_as_int)
print("type: ", type(x_as_int))

3
type:  <class 'int'>

In [76]:
# Convert int to float
y = 5
y_as_float = float(y)

print(y_as_float)
print("type: ", type(y_as_float))

5.0
type:  <class 'float'>

In [77]:
# Convert int to string
num = 42
num_as_str = str(num)

print(num_as_str)
print("type: ", type(num_as_str))

42
type:  <class 'str'>

**Task 2:** Convert the string "True" to a boolean value and store the result in a variable called "is_true". Show the result.

In [7]:
# your code
string = "True"

string_as_bool = bool(string)
print(type(string_as_bool))

<class 'bool'>

## Working with Strings
You can perform various operations on strings. Let's explore some string methods.

Examples:

In [8]:
text = "Hello, Python!"
print(text)

Hello, Python!

In [9]:
text.upper()

'HELLO, PYTHON!'

In [10]:
text.lower()

'hello, python!'

In [13]:
count_o = text.count("o")
print(count_o)

2

**Task 3:** Return the length of the given string. Hint: There is function for that.

In [14]:
# your code 
print(len(text))

14

**Bonus Task:** Check if the word "great" is in the string "Python is great!". Hint: You can use a function for that.

In [2]:
# your code
text = "Python is great!"
search_text = "Java"

print(search_text in text)

False

## One-Dimensional Lists
A list is an ordered collection of values. This means that the elements have a fixed order and can be returned by their index. A list can be modified, can have duplicates, and can contain different data types. 

Example:

In [85]:
test_list = [3, 5.0, 1, 3, "five"]

List indexing in Python allows you to access individual elements within a list. The indexing is zero-based, meaning the first element is at index 0, the second at index 1, and so on. Negative indexing is also allowed, where -1 represents the last element, -2 the second-to-last, and so forth

In [86]:
test_list[0]

3

In [87]:
test_list[-1]

'five'

You can return multiple values of a list by using slicing. Slicing returns a new list containing the extracted elements. The syntax for slicing is `list[start:end:step]`. If any of these are not provided, they are assumed to be the start of the list, the end of the list, and a step of 1.

In [88]:
test_list[1:3]

[5.0, 1]

In [89]:
test_list[0:5:2]

[3, 1, 'five']

There are a lot of different functions fot lists. Here are a fex examples:

In [90]:
# count the number of 3s in the list
test_list.count(3)

2

In [91]:
# add a new element to the list
test_list.append(3.7)
test_list

[3, 5.0, 1, 3, 'five', 3.7]

In [92]:
# check if "five" is in the list
"five" in test_list

True

In [93]:
# remove "five" from the list
test_list.remove("five")
test_list

[3, 5.0, 1, 3, 3.7]

In [94]:
# sort the list
test_list.sort()
test_list

[1, 3, 3, 3.7, 5.0]

**Task 4:** Create a list called numbers with five integers (e.g., 1, 2, 3, 4, 5). Calculate the sum of the numbers and store it in a variable called sum_numbers.

In [1]:
# your code
numbers = [1,2,3,4,5]

sum_of_numbers = sum(numbers)
print(sum_of_numbers)

15

**Bonus Task 1:** Create a list called "odd_numbers" with all the odd numbers from 0 to 100. Hint: There is a function that can help with that.

In [6]:
# your code

odd_numbers = list(range(1, 10, 2))
odd_numbers

[1, 3, 5, 7, 9]

## Multidimensional Lists
In Python, you can have lists within lists to create multidimensional lists, like a matrix.

Example:

In [98]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
element = matrix[1][2]  # Access the element in the second row and third column
print(element)

6

**Task 5:** Create a 2x2 matrix my_matrix and calculate the sum of all elements. Store the result in a variable called matrix_sum.

In [10]:
# your code
my_matrix = [
    [1,2],
    [3,4]
]

sum_of_matrix = sum(my_matrix[0]) + sum(my_matrix[1])

print(sum_of_matrix)

10

## Training Tasks

**Training Task 1:** Combine the given list "words" to a single string and replace the word "bad" with "good". Hint: There are two functions that can help with that.

In [3]:
words = ["Studying", "Data", "Science", "was", "a", "bad", "idea!"]

# your code

**Training Task 2:** Initialize a list with the numbers from 1 to n in half steps (1, 1.5, 2, 2.5, ...)

In [1]:
# your code

**Training Task 3:** Create a program for training math. The user can input 2 numbers which are multiplied. Check if the result is correct and give feedback to the user.

In [2]:
# your code

**Training Task 4:** Create an advanced program for training math. The user gets two random numbers which have to be multiplied. Check if the result is correct and give feedback to the user. The user should be able to choose the maximum value of the two numbers that are multiplied.

In [3]:
# your code

**Training Task 5:** Given is the matrix "people" which contains the name, the age, and the hobby of people. Write a programm that adds new people to this matrix and prints out the last entry afterwards. The name, age, and hobby should be entered by the user via the terminal.

In [4]:
people = [
    ["Jonas", "21", "Bouldering"],
    ["Mario", "20", "Soccer"]
]

print(people)

[['Jonas', '21', 'Bouldering'], ['Mario', '20', 'Soccer']]

In [5]:
# your code

**Training Task 6:** Develop a program that checks if a given word is a palindrome (reads the same forwards and backwards). The program should return "True" or "False" based on the input of the user. Keep in mind that the program should ignore upper and lower case.

In [4]:
# your code